@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.account, .checkout {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}
